/* Slide-in animation for h1 */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Left to Right movement */
@keyframes moveLeftRight {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}

/* Right to Left movement */
@keyframes moveRightLeft {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

/* Up to Down movement */
@keyframes moveUpDown {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

/* Down to Up movement */
@keyframes moveDownUp {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Apply to collection div - animation for left-right and up-down movement */
.collection {

    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: auto; /* Auto width instead of full width */
    height: auto; /* Auto height */
    max-width: 120px; /* Adjust size as needed */
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection:nth-child(odd) {
    animation-name: moveLeftRight;
}

.collection:nth-child(even) {
    animation-name: moveRightLeft;
}

.collection img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    object-fit: contain; 
}

/* Hover effect to scale the box */
.collection:hover {
    transform: scale(1.1);
}


#image-section {
    display: flex;
    flex-wrap: wrap; /* Allows images to wrap to the next row if necessary */
    justify-content: center; /* Centers images horizontally */
    gap: 16px; /* Adjust spacing between images */
    padding: 20px;
}
