body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.browse-jobs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-slider {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    width: 250px;
    margin-left: 10px;
    padding-top: 0px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


/* .card img {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 5px;
    right: 10px;
} */

.card-title {
    margin-top: 60px;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

.card-subtitle {
    color: gray;
    text-align: start;

}
#latest-jobs-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal-width columns */
    gap: 20px; /* Adjust space between items */
    padding: 20px;
}